.body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  flex-direction: column;
  background-color: rgb(255, 72, 102);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 3em;
  line-height: 1em;
  letter-spacing: -0.01em;
  word-spacing: 0.14em;
  color: black;
}

.nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.navBoxCenter {
  width: 30%;
  display: flex;
  justify-content: center;
}

.navBoxLeft {
  width: 30%;
  display: flex;
}

.navBoxRight {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  font-style: italic;
  cursor: pointer;
  color: white;
}

.navText {
  font-size: 3em;
}

.navTextNoLink {
  font-size: 3em;
}

.navText:hover {
  font-style: italic;
  cursor: pointer;
  color: white;
}

.bottom {
  height: 10vh;
  padding: 10px 25px;
}
