.body {
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.topIcon {
  color: white;
  font-size: 3em;
  cursor: pointer;
}

.topIcon:hover {
  color: rgb(255, 72, 102);
}
