.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projectBox {
  display: inline-flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  height: auto;
  padding: 30px;
}

.text {
  font-size: 3em;
  line-height: 1em;
  letter-spacing: -0.01em;
  word-spacing: 0.14em;
  color: black;
  padding: 10px;
}

.description {
  font-size: 1.1em;
  line-height: 1.4em;
  letter-spacing: -0.01em;
  word-spacing: 0.14em;
  color: black;
  width: fit-content;
  padding: 10px;
}

.link {
  font-size: 1.8em;
  line-height: 1em;
  letter-spacing: -0.01em;
  word-spacing: 0.14em;
  color: black;
  padding: 10px;
}

.link:hover {
  color: rgb(255, 72, 102);
  font-style: italic;
}

.image,
.sliderImage {
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
}

.sliderImage {
  height: 500px;
}

.video {
  padding: 10px;
}

.divider {
  background-color: black;
  height: 1px;
  width: 100%;
  margin: 30px 0;
}
